<div class="">
    <br/>
    <mat-card class="example-card">
        <mat-card-header>
          <mat-card-title>Inloggen in jouw account</mat-card-title>
          <mat-card-subtitle>Vul jouw gegevens om in jouw omgeving te komen.</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <p>
            The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
            A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
            bred for hunting.

            

          </p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button>Inloggen</button>
          <a routerLink="/register">
              <button mat-button color="primary">Registeren</button>
          </a>
        </mat-card-actions>
      </mat-card>
</div>