

<div class="">
    <br/>
    <mat-card class="card-custom">
        <mat-card-header>
          <mat-card-title>Welkom bij beavergoose</mat-card-title>
          <mat-card-subtitle></mat-card-subtitle>
        </mat-card-header>
        <br/>
        <mat-card-content>
          <p>
            Je kan een account maken & bestanden delen met mede Nederlanders. <br/> Chat functionaliteit zal arriveren in <strong>2030</strong>.
          </p>
        </mat-card-content>
        <mat-card-actions>
            <a routerLink="/login"><button mat-raised-button color="primary">Inloggen</button></a>
            <a routerLink="/register"><button mat-raised-button color="primary">Account aanmaken</button></a>
        </mat-card-actions>
      </mat-card>
</div>